todo.exemple.localhost {
	reverse_proxy localhost:4000
	root * /public/html/
	encode gzip
	tls internal
	file_server browse
}

portfolio.exemple.localhost {
	reverse_proxy localhost:4001
	root * /public/html/
	encode gzip
	tls internal
	file_server browse
}
